.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 250px;
    border-radius: 0;
}

.btn-outline-success {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
    background-color: #007bff;
    border-color: #007bff;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
